@font-face { 
  font-family: "HelveticaNeueLTProLt";
  src: url(../fonts/HelveticaNeueLTProLt.otf) format("opentype");
}
@font-face { 
  font-family: "HelveticaNeueLTProMd";
  src: url(../fonts/HelveticaNeueLTProMd.otf) format("opentype");
}
@font-face { 
  font-family: "HelveticaNeueLTProRoman";
  src: url(../fonts/HelveticaNeueLTProRoman.otf) format("opentype");
}
@font-face { 
  font-family: "Merriweather-LightItalic";
  src: url(../fonts/Merriweather-LightItalic.ttf) format("truetype");
}
@font-face { 
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat-Light.ttf) format("truetype");
}
@font-face { 
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face { 
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face { 
  font-family: "fontello";
  src: url(../fonts/fontello.ttf) format("truetype"),
       url(../fonts/fontello.eot) format("eot"),
       url(../fonts/fontello.svg) format("svg"),
       url(../fonts/fontello.woff) format("woff"),
       url(../fonts/fontello.woff2 format("woff2");
  ;
}


p {
  font-family: "HelveticaNeueLTProLt", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: 1px solid red; */
}

.header {
}
.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item a {
  color: #989696;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 17px;
  margin-right: 43px;
}
.menu__item:last-child a {
  margin-right: 0;
}
.active a {
  color: #010101;
}
.logo {
  margin: 0 16px;
}
.header__content {
  text-align: center;
}

.header__title {
  font-family: HelveticaNeueLTProLt;
  font-size: 44px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin: 207px auto 4px;
}
.header__text {
  font-family: Merriweather-LightItalic;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color:#898888;
  margin: 0 auto 43px;
}
.header__button {
  font-family: Montserrat-Regular;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000;
  text-decoration: none;
  width: 188px;
  height: 57px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 206px;
}

.about {
  height: 1129px;
  padding-top: 128px;
  padding-bottom: 271px;
  background: url(../img/buildings_light.png) center 101% repeat-x,
              url(../img/buildings_dark.png) center 101% repeat-x,#1d1d1d;
  background-size: contain, contain;
  
 
}
.about__inner {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: max-content max-content;
  grid-gap: 178px;
  place-content: center center;
}
.about__item {
  width: 417px;
  height: 276px;
  background-color: #181818;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__year {
  font-family: HelveticaNeueLTProLt;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  margin-bottom: 27px;
}
.about__text {
  font-family: Montserrat-Light;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 22px;
  color: #b7b7b7;
}

.team {
  height: 745px;
}
.block__head {
  text-align: center;
}
.block_title {
  font-family: HelveticaNeueLTProLt;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin: 0;
  padding-top: 138px;
  margin-bottom: 13px;
}
.block__text {
  font-family: "Merriweather-LightItalic";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #898888;
  margin: 0;
}
.team__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 127px;
}
.team__item {
  text-align: center;
}
.team__item-img {
  margin-bottom: 29px;
}
.team__item-title {
  font-family: "HelveticaNeueLTProMd";
font-size: 24px;
font-weight: 400;
letter-spacing: 0.02em;
color: #464646;
margin: 0;
margin-bottom: 7px;
}
.team__item-text {
  font-family: "HelveticaNeueLTProLT";
font-size: 13px;
font-weight: 400;
letter-spacing: 0.02em;
color: #b3b3b3;
margin: 0;
margin-bottom: 21px;
}
.team__icon-box a {
  font-size: 20px;
  color: #e4e4e4;
  transition: 0.2s;
}

.team__icon-box a:hover {
  color: #949494
}

.provide {
  background-color: #181818;
  padding-bottom: 155px;
}
.block__head {
}

.inverse {
  
}

.inverse .block_title {
  padding-top: 176px;
  color: #fff;
}

.inverse .block__text {
  color: #383838;
}
.provide__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 138px;
}
.provide__item  {
  text-align: center;
  max-width: 335px;
}

.provide__item i {
  color: #fff;
  border: 6px solid #fff;
  font-size: 63px;
  height: 172px;
  width: 172px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 43px;
  
}
.icon-chart-line {
}
.provide__item-title {
  color: #fff;
  font-family: "HelveticaNeueLTProLt";
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 31px;
}
.provide__item-text {
  color: #383838;
  font-family: "HelveticaNeueLTProLt";
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.icon-heart {
}
.icon-upload-cloud-outline {
}

.contact {

}
.contact .block__head .block__title {
  padding-top: 95px;
}
.block__title {

}
.block__text {

}
.contact__inner {

}
.contact__icon-box {
  display: flex;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto;
  padding-top: 64px;
}
.contact__item {
  width: 130px;
  text-align: center;
}
.contact__item i {
  color:#323232;
  font-size: 21px;
}
.contact__text {
  margin-bottom: 12px;
}
.contact__text a {
  font-family: "HelveticaNeueLTProLt";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  text-decoration: none;
  transition: 0.3s;
}
.contact__text a:hover {
  color: #4b4b4b;
  text-decoration: underline;
}
.contact__form {
  padding-top: 153px;
  display: flex;
  flex-direction: column;
 
  max-width: 770px;
  margin: 0 auto;
}
.contact__form input {
  text-align: center;
  height: 52px;
  padding: 20px;
  font-family: "HelveticaNeueLTProLt";
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color:#898888;
  border: solid 1px #999;
}
.contact__name {
  margin-bottom: 20px;
  
}
.contact__email {
  margin-bottom: 20px;
  
}
.contact__number {
  margin-bottom: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.contact__textarea {
  padding: 22px;
  margin-bottom: 21px;
  height: 195px;
  resize: none;
  font-family: "HelveticaNeueLTProLt";
  font-size: 15px;
  line-height: 26px;
  
}
.contact__form .contact__button {
  background-color: #161616;
  font-family: "HelveticaNeueLTProLt";
  font-size: 17px;
  /* line-height: 26px; */
  font-weight: 400;
  letter-spacing: 0.02em;
  color:#fefefe;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  
}
.footer {
  padding-top: 154px;
}
.footer__text {
  text-align: center;
  font-family: "HelveticaNeueLTProLt";
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color:#3b3b3b;
}





